# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build Output
/.next/
/out/

# Production build artifacts
build
dist

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SQLite journal files
*.db-journal

# OS files
.DS_Store
Thumbs.db
